<div id="map"></div>

<style>
  #map {
    height: 400px;
    width: 100%;
  }

</style>

<script>
  function initMap() {
    var myLatlng = {
      lat: <%= @room.latitude %>,
      lng: <%= @room.longitude %>
    };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatlng
    });
    var title = '<%= @room.listing_name %>'
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: title,
      label: {
        fontFamily: 'Fontawesome',
        text: '\uf015'
      },
      animation: google.maps.Animation.DROP
    });
    marker.setMap(map);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap"></script>
